server:
  port: 8686

spring:
  application:
    name: gateway
  config:
    import: "nacos:gateway.yaml"
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: public
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

logging:
  level:
    org.springframework.cloud.gateway: debug
