server:
  port: 8081

spring:
  application:
    name: control
  config:
    import: "nacos:control.yaml"
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yaml
        group: DEFAULT_GROUP
logging:
  level:
    com.alibaba.nacos: debug
